<div class="text-layout">
  <h1>Pipes Básicos</h1>
  <p>Pipes incluidos en Angular - Usualmente en en módulo de CommonModule</p>
</div>

<div class="grid">
  <div class="col-4">
    <p-card
      [header]="'uppercase' | uppercase"
      [subheader]="nombreLower | uppercase"
    >
      {{ nombreLower | uppercase }}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="lowercase" [subheader]="nombreUpper | lowercase">
      {{ nombreUpper | lowercase }}
    </p-card>
  </div>
  <div class="col-4">
    <p-card
      [header]="'title case' | titlecase"
      [subheader]="nombreCompleto | titlecase"
    >
      {{ nombreCompleto | titlecase }}
    </p-card>
  </div>
</div>

<div class="text-layout">
  <h1>Date | Fecha | Pipe</h1>
  <p>Pipes para mostrar las fechas</p>
</div>

<div class="grid">
  <div class="col-6">
    <p-card header="header">
      <ul>
        <li>Fecha</li>
        <li>Fecha | date</li>
        <li>Fecha | date:'short'</li>
        <li>Fecha | date:'long'</li>
        <li>fecha | date:'MMMM-d-yyy'</li>
      </ul>
      <hr>
      <ul>
        <li>
            fecha | date:'long'
        </li>
        <li>fecha | date:'long':'GMT-6'</li>
        <li>fecha | date:'long':'GMT-4'</li>
      </ul>



    </p-card>
  </div>
  <div class="col-6">
    <p-card header="header">
      <ul>
        <li>
          {{ fecha}}
        </li>
        <li>
          {{ fecha | date}}
        </li>
        <li>
          {{ fecha | date:'short'}}
        </li>  
        <li>
          {{ fecha | date:'long'}}
        </li>
        <li>
          {{ fecha | date:'MMMM-d-yyy'}}
        </li>
      </ul>
      <hr>
      <ul>
        <li>{{fecha | date:'long':'GMT-6'}}</li>
        <li>{{fecha | date:'long':'GMT-4'}}</li>
        <!-- enviar con diferentes argumentos -->
        <li>{{fecha | date:'long':'': 'br'}}</li>
      </ul>
    </p-card>
  </div>
</div>
